.freshArr{
    margin: 15rem auto;
}



.cards__container{
    width: 90%;
}
.cards__items{
    width: 18rem;
    cursor: pointer;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

.cards__items:hover{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    /* width: 18.009rem; */
    transition: .9s ease;
}


.light__text{
font-size: 12px;
color: gray;
margin-bottom: 0;
}

.explore{
    position: relative;
    right:-15rem;
    bottom: 2.5rem;
    cursor: pointer;
}