.featured{
    background-color: #B99B7C;
    margin:  150px auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
}

.featured__content{
    display: flex;
    align-items: center;
}

.feat_title{
    color: black;
    font-size: 26px;
    font-weight: 600;
}

.feat_subtitle{
    font-size: 12px;
    font-weight: 600;
}

.bttn{
    background-color: black;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 10px;
}

.bttn:hover{
    background-color: rgb(110, 65, 53);
        transition: .9s;
}


.feat__card{
    position: relative;
    width: auto;
    margin: 10px auto;
}
.feat__{
        width: 100%;
}


.feat__ .feat__name{
    position: absolute;
    bottom: 10px;
    left: 20px;
    z-index: 50;
    border: none;
    padding:5px 20px ;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.feat__ .feat__name:hover{
    background-color: rgb(110, 65, 53);
    transition: .9s;
}

.feat__card img{
    border-radius: 10px;
    width: 225px;
}